<div class="panel panel-primary">
  <div class="panel-body">
    <div class="pull-left"><%= category.name %></div>
    <div class="pull-right">
      <%= link_to "Start", categories_path, class: "btn btn-primary list-lessons" %>
    </div>
  </div>
</div>