<div class="panel panel-primary">
  <div class="panel-body">
    <div class="pull-left"><%= category.name %></div>
    <div class="pull-right">
      <%= link_to "Start", new_category_lesson_path(category), class: "btn btn-primary list-lessons" %>
    </div>
  </div>
</div>